# RFM Analysis Project

In [205]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
### WORK ISSUES ###

#The brand's wants to seperate customers to segment and wants to create marketing strategy 
#for this segments. For this purpose
#behavior of customers will be defined and this
#Groups will be formed according to clusters in behaviors

In [206]:
### QUEST 1 ###

### Understanding and preparing the data ###
#The dataset consists of the information obtained from the past shopping 
#behaviors of customers who made their last purchases from brands
#as OmniChannel (both online and offline shopper) in the years 2020-2021.

In [207]:
#Step 1
#Read dataset
df = pd.read_csv(r"C:\Users\PC\Desktop\Miuul_VBO\FLO_RFM_Analizi-221020-120919\FLO_RFM_Analizi\flo_data_20k.csv")
df2 = df.copy

In [208]:
 #Step 2 
"""
in the dataset
a. top 10 observations,
b. variable names,
c. descriptive statistics,
d. null value,
e. Variable types 
review
 """

'\nin the dataset\na. top 10 observations,\nb. variable names,\nc. descriptive statistics,\nd. null value,\ne. Variable types \nreview\n'

In [209]:
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.0,2.0,150.87,49.99,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.0,1.0,59.99,315.94,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.0,1.0,49.99,113.64,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.0,2.0,120.48,934.21,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.0,1.0,69.98,95.98,"[KADIN, AKTIFSPOR]"

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [211]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.0,3.110855,4.225647,1.00,1.00,2.00,4.00,200.00
order_num_total_ever_offline,19945.0,1.913913,2.062880,1.00,1.00,1.00,2.00,109.00
customer_value_total_ever_offline,19945.0,253.922597,301.532853,10.00,99.99,179.98,319.97,18119.14
customer_value_total_ever_online,19945.0,497.321690,832.601886,12.99,149.98,286.46,578.44,45220.13

In [212]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [213]:
#Step 3
"""
Omnichannel means that customers shop from both online and offline platforms. Total for each customer
create new variables for number of purchases and spend.
"""
df["order_num_total"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"] 
df["customer_value_total"] = df["customer_value_total_ever_online"] + df["customer_value_total_ever_offline"]

In [214]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.0,3.110855,4.225647,1.00,1.00,2.00,4.00,200.00
order_num_total_ever_offline,19945.0,1.913913,2.062880,1.00,1.00,1.00,2.00,109.00
customer_value_total_ever_offline,19945.0,253.922597,301.532853,10.00,99.99,179.98,319.97,18119.14
customer_value_total_ever_online,19945.0,497.321690,832.601886,12.99,149.98,286.46,578.44,45220.13
order_num_total,19945.0,5.024768,4.742707,2.00,3.00,4.00,6.00,202.00
customer_value_total,19945.0,751.244287,895.402173,44.98,339.98,545.27,897.78,45905.10

In [215]:
#Step 4 
"""
Examine variable types. Change types of variables which showing the date
"""
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
order_num_total                      float64
customer_value_total                 float64
dtype: object

In [216]:
date_columns = df.columns[df.columns.str.contains("date")]

In [217]:
date_columns

Index(['first_order_date', 'last_order_date', 'last_order_date_online',
       'last_order_date_offline'],
      dtype='object')

In [218]:
df[date_columns] = df[date_columns].apply(pd.to_datetime)

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [220]:
#Step 5
"""
Look at the distribution of the number of customers in the order channels,
the total number of products purchased and the total expenditures.
"""

'\nStep 5: Look at the distribution of the number of customers in the order channels,\nthe total number of products purchased and the total expenditures.\n'

In [221]:
df.groupby("order_channel").agg({"master_id" : "count",
                                 "order_num_total" : "sum", 
                                "customer_value_total" :"sum"})

               master_id  order_num_total  customer_value_total
order_channel
Android App         9495          52269.0            7819062.76
Desktop             2735          10920.0            1610321.46
Ios App             2833          15351.0            2525999.93
Mobile              4882          21679.0            3028183.16

In [222]:
#Step 6
"""
Rank the top 10 customers with the highest spending.
"""

'\nRank the top 10 customers with the highest spending.\n'

In [223]:
df.groupby("master_id").agg({"customer_value_total" : "sum"}).sort_values(by= "customer_value_total",ascending = False).head(10)

                                      customer_value_total
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f              45905.10
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f              36818.29
73fd19aa-9e37-11e9-9897-000d3a38a36f              33918.10
7137a5c0-7aad-11ea-8f20-000d3a38a36f              31227.41
47a642fe-975b-11eb-8c2a-000d3a38a36f              20706.34
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f              18443.57
d696c654-2633-11ea-8e1c-000d3a38a36f              16918.57
fef57ffa-aae6-11e9-a2fc-000d3a38a36f              12726.10
cba59206-9dd1-11e9-9897-000d3a38a36f              12282.24
fc0ce7a4-9d87-11e9-9897-000d3a38a36f              12103.15

In [224]:
#Step 7 
"""
Step 7: List the top 10 customers with the most orders.
"""

df.groupby("master_id").agg({"order_num_total" : "sum"}).sort_values(by="order_num_total", ascending=False).head(10)

                                      order_num_total
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f            202.0
cba59206-9dd1-11e9-9897-000d3a38a36f            131.0
a57f4302-b1a8-11e9-89fa-000d3a38a36f            111.0
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f             88.0
329968c6-a0e2-11e9-a2fc-000d3a38a36f             83.0
73fd19aa-9e37-11e9-9897-000d3a38a36f             82.0
44d032ee-a0d4-11e9-a2fc-000d3a38a36f             77.0
b27e241a-a901-11e9-a2fc-000d3a38a36f             75.0
d696c654-2633-11ea-8e1c-000d3a38a36f             70.0
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f             70.0

In [225]:
#Step 8 
"""
functionalize all the data pre-process.
"""

def pre_process(dataframe):

    df["order_num_total"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"] 
    df["customer_value_total"] = df["customer_value_total_ever_online"] + df["customer_value_total_ever_offline"]

    date_columns = df.columns[df.columns.str.contains("date")]
    df[date_columns] = df[date_columns].apply(pd.to_datetime)


    return dataframe

In [226]:
pre_process(df)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,Android App,Offline,2019-09-21,2020-07-05,2020-06-05,2020-07-05,1.0,2.0,289.98,111.98,"[ERKEK, AKTIFSPOR]",3.0,401.96
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,Desktop,Desktop,2020-03-01,2020-12-22,2020-12-22,2020-03-01,1.0,1.0,150.48,239.99,[AKTIFSPOR],2.0,390.47
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,Ios App,Ios App,2019-09-11,2021-05-24,2021-05-24,2019-09-11,2.0,1.0,139.98,492.96,[AKTIFSPOR],3.0,632.94
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,Android App,Android App,2019-03-27,2021-02-13,2021-02-13,2021-01-08,1.0,5.0,711.79,297.98,"[ERKEK, AKTIFSPOR]",6.0,1009.77
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,Android App,Android App,2019-09-03,2020-06-06,2020-06-06,2019-09-03,1.0,1.0,39.99,221.98,"[KADIN, AKTIFSPOR]",2.0,261.97

In [227]:
### QUEST 2 ###

### Calculating the RFM Metrics ###

In [228]:
# Step 1 
# Make the definitions of Receny, Frequency and Monetary. 
"""
recency: time since last purchase
frequency: total repeat purchases
monetary: average earnings per purchase
"""

'\nrecency: time since last purchase\nfrequency: total repeat purchases\nmonetary: average earnings per purchase\n'

In [229]:
# Step 2 
"""
Calculate the Recency,Frequency and Monetary metrics for the Customer 
"""

'\nCalculate the Recency,Frequency and Monetary metrics for the Customer \n'

In [230]:
df["last_order_date"].sort_values(ascending= False)

12438   2021-05-30
19111   2021-05-30
18383   2021-05-30
15885   2021-05-30
3333    2021-05-30
           ...
3205    2020-05-30
15210   2020-05-30
11195   2020-05-30
3584    2020-05-30
9155    2020-05-30
Name: last_order_date, Length: 19945, dtype: datetime64[ns]

In [231]:
today_date = dt.datetime(2021, 6, 2)

In [232]:
rfm = df.groupby("master_id").agg({"last_order_date" : lambda last_order_date: (today_date - last_order_date.max()).days,
                            "order_num_total" : lambda order_num_total : order_num_total.sum(),
                            "customer_value_total" : lambda customer_value_total : customer_value_total.sum()})

In [233]:
rfm.head()

,last_order_date,order_num_total,customer_value_total
master_id,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.0,776.07
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.0,269.47
000be838-85df-11ea-a90b-000d3a38a36f,214,4.0,722.69
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.0,874.16
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.0,1620.33

In [234]:
rfm.columns = ["Recency" , "Frequency" , "Monetary"]

In [235]:
rfm.describe().T

,count,mean,std,min,25%,50%,75%,max
Recency,19945.0,135.458360,103.281149,3.00,44.00,112.00,203.00,368.0
Frequency,19945.0,5.024768,4.742707,2.00,3.00,4.00,6.00,202.0
Monetary,19945.0,751.244287,895.402173,44.98,339.98,545.27,897.78,45905.1

In [236]:
### QUEST 3 ###

### Calculating RF Score ###

In [237]:
#Step 1 
#Convert the Recency, Frequency and Monetary metrics to scores between 1-5 with the help of qcut.

In [238]:
rfm["Recency_Score"] = pd.qcut(rfm["Recency"], 5 , labels = [5,4,3,2,1])
rfm["Frequency_Score"] = pd.qcut(rfm["Frequency"].rank(method="first"), 5 , labels = [1,2,3,4,5])
rfm["Monetary_Score"] = pd.qcut(rfm["Monetary"], 5 , labels = [1,2,3,4,5])

In [239]:
rfm.head()

,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score
master_id,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.0,776.07,5,4,4
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.0,269.47,1,2,1
000be838-85df-11ea-a90b-000d3a38a36f,214,4.0,722.69,2,3,4
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.0,874.16,5,4,4
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.0,1620.33,5,4,5

In [240]:
#Step 3
# Express recency_score and frequency_score as a single variable and save it as RF_SCORE.

In [241]:
rfm["RF_SCORE"] = rfm["Recency_Score"].astype(str) + rfm["Frequency_Score"].astype(str)

In [242]:
rfm.head()

,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score,RF_SCORE
master_id,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.0,776.07,5,4,4,54
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.0,269.47,1,2,1,12
000be838-85df-11ea-a90b-000d3a38a36f,214,4.0,722.69,2,3,4,23
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.0,874.16,5,4,4,54
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.0,1620.33,5,4,5,54

In [1]:
### QUEST 4 ###
# RF_Scores definition as a Segment

In [244]:
#Step 1 
#Make segment definitions for the RF scores.

In [245]:
#RFM Renaming
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [246]:
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

In [247]:
rfm.head()

,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score,RF_SCORE,segment
master_id,,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.0,776.07,5,4,4,54,champions
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.0,269.47,1,2,1,12,hibernating
000be838-85df-11ea-a90b-000d3a38a36f,214,4.0,722.69,2,3,4,23,at_Risk
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.0,874.16,5,4,4,54,champions
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.0,1620.33,5,4,5,54,champions

In [248]:
### QUEST 5 ###

#Action Time

In [249]:
#Step 1 Examine the recency, frequency and monetary averages of the segments.

In [250]:
rfm.groupby("segment").agg({"Recency" : ["mean" ,"count"] ,
                           "Frequency" : ["mean" ,"count"],
                           "Monetary" : ["mean" ,"count"]})

                        Recency        Frequency           Monetary
                           mean count       mean count         mean count
segment
about_to_sleep       115.031649  1643   2.406573  1643   361.649373  1643
at_Risk              243.328997  3152   4.470178  3152   648.325038  3152
cant_loose           236.159129  1194  10.716918  1194  1481.652446  1194
champions             18.142187  1920   8.965104  1920  1410.708938  1920
hibernating          248.426303  3589   2.391474  3589   362.583299  3589
loyal_customers       83.557926  3375   8.356444  3375  1216.257224  3375
need_attention       114.037221   806   3.739454   806   553.436638   806
new_customers         18.976226   673   2.000000   673   344.049495   673
potential_loyalists   37.869744  2925   3.310769  2925   533.741344  2925
promising             59.694611   668   2.000000   668   334.153338   668

In [179]:
#Action 1 

# This brand adds a new women's shoe brand to own brand.
# Product prices of this brand is more than customer's price prefferences.
# That's why this brand wants to communicate with customers as a special 
# for brand promotion and product sales.  
# This customers are from "champions and loyal customers" categories and 
# also who is shopping from the female categories.
# Save the id numbers of these customers to the csv file.

In [253]:
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98

In [254]:
rfm.head()

,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score,RF_SCORE,segment
master_id,,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.0,776.07,5,4,4,54,champions
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.0,269.47,1,2,1,12,hibernating
000be838-85df-11ea-a90b-000d3a38a36f,214,4.0,722.69,2,3,4,23,at_Risk
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.0,874.16,5,4,4,54,champions
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.0,1620.33,5,4,5,54,champions

In [267]:
new_df = pd.merge(df,rfm, on='master_id')

In [268]:
new_df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,...,order_num_total,customer_value_total,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score,RF_SCORE,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,...,5.0,939.37,96,5.0,939.37,3,4,4,34,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,...,21.0,2013.55,106,21.0,2013.55,3,5,5,35,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,...,5.0,585.32,187,5.0,585.32,2,4,3,24,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,...,2.0,121.97,136,2.0,121.97,3,1,1,31,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,...,2.0,209.98,87,2.0,209.98,3,1,1,31,about_to_sleep

In [270]:
new_df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12', 'order_num_total',
       'customer_value_total', 'Recency', 'Frequency', 'Monetary',
       'Recency_Score', 'Frequency_Score', 'Monetary_Score', 'RF_SCORE',
       'segment'],
      dtype='object')

In [331]:
new_df.loc[((new_df["segment"] == "loyal_customers") | (new_df["segment"] == "champions")) & ((new_df["interested_in_categories_12"].str.contains("KADIN")))]["master_id"]

0        cc294636-19f0-11eb-8d74-000d3a38a36f
1        f431bd5a-ab7b-11e9-a2fc-000d3a38a36f
8        cfbda69e-5b4f-11ea-aca7-000d3a38a36f
11       c2e15af2-9eed-11e9-9897-000d3a38a36f
17       efb82ba4-aaba-11e9-a2fc-000d3a38a36f
                         ...
19921    1b18778e-aa04-11e9-a2fc-000d3a38a36f
19922    ba5cd8c2-b142-11e9-9757-000d3a38a36f
19926    7e1c15be-6298-11ea-9861-000d3a38a36f
19931    c81bac06-b1f4-11e9-89fa-000d3a38a36f
19943    e50bb46c-ff30-11e9-a5e8-000d3a38a36f
Name: master_id, Length: 4271, dtype: object

In [332]:
first_case = pd.DataFrame

In [377]:
first_case = new_df.loc[(new_df["segment"] == "loyal_customers") | (new_df["segment"] == "champions") & (new_df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]

In [335]:
first_case

0        cc294636-19f0-11eb-8d74-000d3a38a36f
1        f431bd5a-ab7b-11e9-a2fc-000d3a38a36f
8        cfbda69e-5b4f-11ea-aca7-000d3a38a36f
11       c2e15af2-9eed-11e9-9897-000d3a38a36f
17       efb82ba4-aaba-11e9-a2fc-000d3a38a36f
                         ...
19921    1b18778e-aa04-11e9-a2fc-000d3a38a36f
19922    ba5cd8c2-b142-11e9-9757-000d3a38a36f
19926    7e1c15be-6298-11ea-9861-000d3a38a36f
19931    c81bac06-b1f4-11e9-89fa-000d3a38a36f
19943    e50bb46c-ff30-11e9-a5e8-000d3a38a36f
Name: master_id, Length: 4271, dtype: object

In [336]:
first_case.to_csv("yeni_marka_hedef_müşteri_id.csv")

In [337]:
# Action 2

# Planning %40 discount for male and child products. 
#With categories related to this discount people who are good customers 
#but not shopping for a long time and customers which we shouldnt lost , sleeping customers
#and new comers customers specially targeted. 
#Save the id numbers of these customers to the csv file.

In [376]:
new_df[((new_df["segment"] == "cant_loose") | (new_df["segment"] == "hibernating") | (new_df["segment"] == "new_customers") )&
                  (((new_df["interested_in_categories_12"].str.contains("ERKEK") | (new_df["interested_in_categories_12"].str.contains("COCUK")))))]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online interested_in_categories_12  order_num_total  customer_value_total  Recency  Frequency  Monetary Recency_Score Frequency_Score Monetary_Score RF_SCORE      segment
7      3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f        Mobile            Offline       2020-05-15      2020-08-12             2020-05-15              2020-08-12                          1.0                           1.0                              49.99                            113.64                     [COCUK]              2.0                163.63      294        2.0    163.63             1               1              1       11  hibernating
10     ae608ece-c9d8-11ea-a31e-000d3a38a36f       Ios App            Offline       2020-07-19      2020-07-25             2020-07-19              2020-07-25                          1.0                           1.0                              74.99                             39.99  [AKTIFCOCUK, COCUK, KADIN]              2.0                114.98      312        2.0    114.98             1               1              1       11  hibernating
15     13ed97a4-b167-11e9-89fa-000d3a38a36f        Mobile            Desktop       2019-06-13      2020-08-17             2020-08-17              2020-07-28                          7.0                           1.0                             112.97                            819.39  [AKTIFCOCUK, COCUK, KADIN]              8.0                932.36      289        8.0    932.36             1               5              4       15   cant_loose
19     2730793e-3908-11ea-85d6-000d3a38a36f        Mobile             Mobile       2019-07-29      2020-06-19             2020-06-19              2019-07-29                          1.0                           1.0                              34.99                            279.99                     [ERKEK]              2.0                314.98      348        2.0    314.98             1               1              2       11  hibernating
21     7b289956-d691-11e9-93bc-000d3a38a36f   Android App            Offline       2019-08-28      2020-11-26             2020-05-17              2020-11-26                          1.0                           2.0                             495.69                            234.98              [ERKEK, KADIN]              3.0                730.67      188        3.0    730.67             2               2              4       22  hibernating
...                                     ...           ...                ...              ...             ...                    ...                     ...                          ...                           ...                                ...                               ...                         ...              ...                   ...      ...        ...       ...           ...             ...            ...      ...          ...
19932  13a5e98c-a824-11e9-a2fc-000d3a38a36f   Android App            Offline       2015-03-23      2020-11-05             2020-06-28              2020-11-05                          7.0                           2.0                             210.72                            963.28   [ERKEK, KADIN, AKTIFSPOR]              9.0               1174.00      209        9.0   1174.00             2               5              5       25   cant_loose
19933  6d285c64-5e73-11ea-be5b-000d3a38a36f   Android App        Android App       2020-01-15      2020-10-24             2020-10-24              2020-02-28                          7.0                           1.0                              79.99                           1034.81  [AKTIFCOCUK, ERKEK, COCUK]              8.0               1114.80      221        8.0   1114.80             2               5              5       25   cant_loose
19934  9777eb76-bed4-11ea-958c-000d3a38a36f       Desktop            Offline       2020-07-05      2020-12-02             2020-11-28              2020-12-02                          1.0                           2.0                             390.96                            143.99              [ERKEK, KADIN]              3.0                534.95      182        3.0    534.95             2               2              3       22  hibernating
19936  1982ac0e-9f4c-11e9-9897-000d3a38a36f   Android App        Android App       2019-02-08      2020-06-28             2020-06-28              2019-09-28                         10.0                           2.0                             149.98                           1468.24                [AKTIFCOCUK]             12.0               1618.22      339       12.0   1618.22             1               5              5       15   cant_loose
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f   Android App            Offline       2019-09-21      2020-07-05             2020-06-05              2020-07-05                          1.0                           2.0                             289.98                            111.98          [ERKEK, AKTIFSPOR]              3.0                401.96      332        3.0    401.96             1               2              2       12  hibernating

[2770 rows x 22 columns]

In [367]:
second_case = new_df.loc[(new_df["segment"] == "cant_loose") | (new_df["segment"] == "hibernating") | (new_df["segment"] == "new_customers") &
                  ((df["interested_in_categories_12"].str.contains("ERKEK") | (df["interested_in_categories_12"].str.contains("COCUK"))))]["master_id"]

In [366]:
second_case = pd.DataFrame

In [368]:
second_case.to_csv("indirim_hedef_müşteri_ids.csv")

array(['3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f',
       '1143f032-440d-11ea-8b43-000d3a38a36f',
       'ae608ece-c9d8-11ea-a31e-000d3a38a36f', ...,
       '727e2b6e-ddd4-11e9-a848-000d3a38a36f',
       '25cd53d4-61bf-11ea-8dd8-000d3a38a36f',
       '740998d2-b1f7-11e9-89fa-000d3a38a36f'], dtype=object)